.Library {
  text-align: left;
  padding: 25px;
}

.Library .button {
  padding: 5px;
  margin-left: 70px;
}

.thumbnails {
  padding: 0.1vw;
  max-width: 450px;
  row-gap: 10px;
  color: rgb(0, 0, 0);
}

.thumbnails .div {  
  padding: 8px;
  border-radius: 10px;
}

.card {
  text-align: left;
  padding: 15px;
  background-color: rgb(255, 255, 0);
  border-radius: 10px;
  margin: 10px;
}

.detailslijst {
  min-width: 300px;
  margin-right: 20px
}

.titleprop {
  text-align: center;
  font-weight: 750;
  margin-bottom: 15px;
}